p {
    color: whitesmoke;
}

ol {
    width: 400px;
}

html {
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    background-color: #DAEAF1;
}

h1 {
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    text-shadow: -3px -3px 4px black;
}

p, li {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -1px;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #8CC0DE;
    padding: 0 20px 20px 20px;
    border: 5px solid whitesmoke;
}

img {
    display: block;
    margin: 0 auto;
}

.clouds {
    text-shadow: 2px 2px 4px #00f;
    text-transform: lowercase;
}

.video {
    ;
}

.blue {
    background-color: aliceblue;
}
